Repository hallwaytechgrupo/ABP-2024-2, pull requests merged in 2024-10, with the labels that each got.

#22 Html header
  README.md
  content/index.html
  content/sprint-01/FundamentosDoScrum.docx
  content/sprint-01/Sprint_m2.docx
  content/sprint-01/imgs/Módulo_1.png
  content/sprint-01/imgs/Módulo_3.png
  content/sprint-01/imgs/Tela Certificado git.JPG
  content/sprint-01/imgs/Tela Quizz git.JPG
  content/sprint-01/imgs/TelaFigmaFooterInfo.jpeg
  content/sprint-01/imgs/TelaFigmaLoginCadastro.jpeg
  content/sprint-01/imgs/imagensScrumM01/DevTeam.jpg
  content/sprint-01/imgs/imagensScrumM01/DevTeam2.jpg
  content/sprint-01/imgs/imagensScrumM01/DevTeam_ou_ScrumTeam.jpg
  content/sprint-01/imgs/imagensScrumM01/ProductOwner.jpg
  content/sprint-01/imgs/imagensScrumM01/ScrumBacklogList.jpg
  content/sprint-01/imgs/imagensScrumM01/ScrumHistory.jpg
  content/sprint-01/imgs/imagensScrumM01/ScrumMaster.jpg
  content/sprint-01/imgs/imagensScrumM01/ScrumRugby.jpg
  content/sprint-01/imgs/imagensSprintM02/Sprint Backlog.jpg
  content/sprint-01/imgs/imagensSprintM02/Sprint life.jpg
  content/sprint-01/imgs/imagensSprintM02/Sprint.jpg
  content/sprint-01/imgs/imagensSprintM02/dailyScrum.jpg
  content/sprint-01/imgs/imagensSprintM02/developer.jpg
  content/sprint-01/imgs/imagensSprintM02/estagiosSprint.jpg
  content/sprint-01/imgs/imagensSprintM02/scrumMeeting.jpg
  content/sprint-01/imgs/imagensSprintM02/scrumMeeting2.jpg
  content/sprint-01/imgs/imagensSprintM02/sprintReview.jpg
  content/sprint-01/imgs/print modulo 2.png
  content/sprint-01/modulo3.word1.pdf
  content/sprint-01/resumoModulo1.txt
  header.html
Labels: HTML

#23 Add files via upload
  Módulo 2 ABP/modulo2.html
Labels: HTML

#28 Mover todo conteúdo da main para o HTML, para organização.
  Módulo 2 ABP/modulo2.html
  header.html
Labels: fix

#25 Criação do HTML - Questionário do Módulo 1
  html_tela1.html
Labels: HTML

#32 Criação do CSS - Módulo 1
  .vscode/settings.json
  components/footer.html
  components/header.html
  css/components.css
  css/global.css
  css/modulo1.css
  img/modulo-01/DevTeamPrinc.jpg
  img/modulo-01/ScrumHistory.jpg
  img/modulo-01/Sprint life.jpg
  modulo1.html
Labels: task

#33 Criação do CSS: Login
  css/login.css
  login.html
Labels: task

#35 Módulo 1 - CSS - Responsividade
  modulo1.html
Labels: task, HTML, CSS

#36 Criar HTML e CSS da página de Registro
  Registrocss.html
Labels: task, HTML, CSS

#37 Update components.css
  css/components.css
Labels: task, CSS

#38 Criação do HTML e CSS: Certificado
  certificado.html
  css/certificado.css
  img/certificado/certificado.png
Labels: task, HTML, CSS

#39 Criação do CSS - Quizz
  css/quizz.css
Labels: task, CSS

#40 HTML, CSS e JS - Módulo 3
  css/modulo3.css
  img/modulo-03/4375081_logo_slack_icon.png
  img/modulo-03/Apache_Subversion-Logo.wine.png
  img/modulo-03/Asana.png
  img/modulo-03/Jira New Icon.png
  img/modulo-03/Mercurial-Logo.wine.png
  img/modulo-03/Preto-e-Branco-Massa-Blog-Banner-1536x864.png
  img/modulo-03/Revisão prava 2 - Eng Software_21-10-24.txt
  img/modulo-03/ds.jpg
  img/modulo-03/educacao.jpg
  img/modulo-03/eng.e.webp
  img/modulo-03/ferramentas.webp
  img/modulo-03/gestao.jpg
  img/modulo-03/git.svg
  img/modulo-03/github.svg
  img/modulo-03/gitlab.svg
  img/modulo-03/jira.jpg
  img/modulo-03/jira.png
  img/modulo-03/kanbanBoard2.jpg
  img/modulo-03/microsoft-teams-logo-0.png
  img/modulo-03/mkt.jpg
  img/modulo-03/rh.jpg
  img/modulo-03/saude.jpg
  img/modulo-03/scrum.webp
  img/modulo-03/scrumb.jpg
  img/modulo-03/ser.finan.webp
  img/modulo-03/ti.jpg
  img/modulo-03/version.webp
  modulo3.html
  scripts/modulo3.js
Labels: HTML, CSS

#46 CSS - Módulo 2
  css/model2.css
  modulo2.html
Labels: task, HTML, CSS

#47 CSS - Refinamento
  css/components.css
  css/modulo3.css
Labels: task, HTML, CSS

#48 CSS Fix - Módulo 3 - Remover estilização de tag
  css/modulo3.css
  modulo3.html
Labels: task, HTML, CSS
